<div class="row mb-2">
  <div class="col-8">
    <h1 class="display-4 font-weight-normal">Tarefas</h1>
  </div>

  <div class="col-4 mt-4 text-right">
    <%= link_to '+ Tarefa', new_task_path, class: 'btn btn-success' %>
  </div>
</div>

<% if @tasks.any? %>
  <table class="table table-borderless">
    <thead>
      <tr>
        <th>Descrição</th>
        <th>Prazo</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @tasks.each do |task| %>
        <tr class="border-top">
          <td><%= task.description %></td>
          <td>
            <% if(task.due_date) %>
              <%= I18n.l( task.due_date ) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>Nenhuma tarefa foi cadastrada ainda.</p>
<% end %>

<!-- <% if notice %>
  <p style="color: green"><%= notice %></p>
<% end %>

<h1>Tasks</h1>

<div id="tasks">
  <% @tasks.each do |task| %>
    <%= render task %>
    <p>
      <%= link_to "Show this task", task %>
    </p>
  <% end %>
</div> -->

<%= link_to "New task", new_task_path %>